<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvyHUVKkoyp3iFNERGlfhqIewf-A-OW9M</string>
	<key>GCM_SENDER_ID</key>
	<string>656416273390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gbpn.gbpnmobile</string>
	<key>PROJECT_ID</key>
	<string>mobile-app-d246c</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-app-d246c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656416273390:ios:d0947aea1c50281d2ed4ff</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>